streamlit==1.31.1
psutil==5.9.5
spacy>=3.7
newspaper3k>=0.2.8
tweepy>=4.14
feedparser>=6.0
tldextract>=3.4
youtube-transcript-api>=0.6.1
python-dotenv>=1.0.0
dateparser>=1.1.8
pandas>=1.5
scikit-learn>=1.2
transformers>=4.38
datasets>=2.19
torch>=1.13
